{% extends 'players/base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-sm-6">
    <h4 class="h4">Players List</h4>
  </div>
  <div class="col-sm-6">
    <a href="/create" class="btn btn-success btn-right" role="button">Create</a>
  </div>
</div>
<br>
<div class="row justify-content-sm-center">
  <div class="col-sm">
    {% if players %}
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <tr>
            <th scope="col">Picture</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Position</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </tr>
      </thead>
      <tbody>
        {% for player in actual_player_list %}
        <tr>
            <td><img class="player-picture" src="{{ player.picture }}"></td>
            <td class="align-middle">{{ player.name }}</td>
            <td class="align-middle">{{ player.team }}</td>
            <td class="align-middle">{{ player.position }}</td>
            <td class="align-middle"><a href="/update/{{player.id}}"><img src="{% static 'players/images/update.png' %}" style="width: 20px;"></a></td>
            <td class="align-middle"><a href="/delete/{{player.id}}"><img src="{% static 'players/images/delete.png' %}" style="width: 20px;"></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
        <p>No players available.</p>
    {% endif %}
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-sm-6">
      <nav aria-label="page navition">
          <ul class="pagination  justify-content-center">
            {% if previous_page %}
            <li class="page-item">
              <a class="page-link" href="/{{previous_page}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {% if next_page %}
            <li class="page-item">
              <a class="page-link" href="/{{next_page}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
  </div>
</div>
{% endblock %}