body{
    background-color: #f1fff9;
}

.players-table{
    width: 100%;
}

.player-picture{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 70px;
    height: 70px;
}

.btn-block{
    width: 100%;
}

.page-link {
    color: white;
    background-color: 198754;
}

.page-link:hover {
    color: white;
    background-color: 198754;
}

.nav-link {
    color: white !important;
}

.btn-right{
    float: right;
}

.navbar-light .navbar-brand {
    color: white;
}